# 1. Dependency - Folder ini sangat berat dan tidak perlu di-upload
node_modules/

# 2. Environment Variables - WAJIB! Berisi password DB dan secret session Bos
.env
.env.local
.env.*.local

# 3. Logs - File log yang dihasilkan saat error
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# 4. OS Metadata - File sampah bawaan sistem operasi
.DS_Store
Thumbs.db

# 5. IDE/Editor - Folder settingan VS Code Bos
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj

# 6. Tools tambahan (seperti tunneling yang Bos pakai)
cloudflared.exe